# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
./.idea
/node_modules
package-lock.json
./idea/*
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/jpa-buddy.xml
/.idea/balsancarismail.github.io.iml
