/* CSS for index.html */
::selection {
  background-color: #f55742;
}
/* Set default font and margin/padding */
/* Style header and navigation bar */

/* Style main content */
/* Main styles */
/* Main styles */
/* Introduction section */
.introduction {
  background-image: url("../images/food.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.introduction-text {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 1em;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction-text h2 {
  letter-spacing: 13px;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.introduction-text p {
  text-align: justify;
  width: 650px;
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.introduction-text a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #f55742;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 25px;
  transition: 0.5s;
}

.introduction-text a:hover {
  background-color: #e64534;
  transform: scale(1.05);
}
/* Footer section */
/* Footer section */
.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, antiquewhite, #fff);
  color: #d17777;
  padding: 50px;
}

.footer h3 {
  margin-bottom: 20px;
  text-align: center;
}

.contact-info p {
  margin-bottom: 10px;
}

.social-media ul {
  display: flex;
}

.social-media li {
  margin-right: 20px;
}

.social-media a {
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.social-media a:hover {
  transform: scale(1.2);
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
