/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body
{
    width: 750px;
    margin: 0 auto;
}
div
{
    width: 90%;
    margin-top: 25%;
    margin-right: auto;
    margin-left: auto;
    border: #444444 solid 2px;
    justify-content: center;
    padding: 40px 15px;
}
h2
{
    text-align: center;
}
table
{
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
}

thead
{
    background-color: yellow;
}

th, td
{
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
}

tbody tr:first-child td:first-child{
    font-weight: bold;
}

tbody tr:nth-child(4) td:first-child{
    background-color:white;
    font-weight: bold;
}

tbody tr:nth-child(6) td:first-child{
    font-weight: bold;
    background-color:white;
}

tbody tr:last-child td{
    font-weight: bold;
    text-align: right;
}

tbody tr:nth-child(even) td
{
    background-color: yellow;
}